/*
.site aside {
    display: flex;
    align-items: center;
    justify-content: center;
    background: blue;
}

.aside__marketplaces {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 80%;
}

#aside__marketplaces__ozon {
    height: 100%;
    width: 80%;
}

#aside__marketplaces__yandex_market {
    height: 20%;
    width: 80%;
}

#aside__marketplaces__AliExpress {
    height: 20%;
    width: 80%;
}

#aside__marketplaces__Wildberries {
    height: 20%;
    width: 80%;
}
*/