.site footer {
    grid-column: 1 / -1;
    background: #181818;
    color: white;
}

.footer__site-info {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
}

.footer__site-info__contacts__social a{
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.footer__site-info__contacts__social h3 {
    margin: 0;
    margin-left: 7px;
}

.footer__site-info__contacts img {
    width: 5%;
}


.footer__legal-information h2 {
    text-align: center;
}

.horizontal-line {
    width: 100%;
    height: 2px;
    background-color: #000;
    border: 0;
}