/* MAIN SETTINGS HEADER*/

.header {
    grid-column: 1 / -1;
    background: #181818;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    max-width: 1504px;
    margin: auto;
    padding: 32px;
    padding-left: 58px;
}







/* HEADER SEARCH TOP */

.header__search {
    width: 90%;
    border: none;
    padding: 0 0 0 20px;
    font-size: 18px;
}

 .header__search__container__input {
    background-color: white;
    min-width: 1024px;
    border-radius: 16px;
    margin-top: 24px;
    margin-left: 12px;
    margin-right: 20px;
    line-height: 58px;
 }

 .header__search__container__input button {
    width: 9%;
    line-height: 228%;
    border-radius: 16px;
    border: 100px;
    background-color: white;
    border: 1px solid black;
 }

.header__search__container__input button:hover {
    background-color: rgb(220, 220, 220);
    transition: all 0.2s ease;
    cursor: pointer;
}

.header__top {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}





/* HEADER SEARCH BOTTOM */

.header__search__marketplaces {
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    margin-top: 6px;
    margin-right: 35px;
    margin-left: 25px;
    max-width: 1024px;
}

.header__search__marketplaces a {
    text-decoration: none;
    color: inherit;
}
.header__search__marketplaces a:hover {
    color: rgb(173, 173, 173);
    transition: all 0.2s ease;
    cursor: pointer;
}
    


/* LOGO */

.header__logo {
    width: 106px;
    color: white;
}

.header__logo img {
    width: 100%;
 }




/* NAVBAR */

.header__navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}


.header__navbar__sign_in,
.header__navbar__info,
.header__navbar__theme {
    height: 49px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.header__navbar__sign_in,
.header__navbar__theme {
    margin-left: 10px;
}

/* инфо общие стили */
.header__navbar__info a,
.header__navbar__theme a,
.header__navbar__sign_in a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    height: 58px;
    width: 50px;
}

.header__navbar__info p, 
.header__navbar__theme p,
.header__navbar__sign_in p {
    color: white;
    font-size: 18px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.header__navbar__info a:hover p, 
.header__navbar__theme a:hover p,
.header__navbar__sign_in a:hover p {
    color: rgb(173, 173, 173);
    transition: all 0.2s ease;
    cursor: pointer;
}

.header__navbar__info a:hover img,
.header__navbar__theme a:hover img,
.header__navbar__sign_in a:hover img {
    opacity: 50%;
    transition: all 0.2s ease;
    cursor: pointer;
}

/* Масштабирование картинок */

.header__navbar__info a img {
    padding-bottom: 2px;
    padding-top: 7px;
    height: 68%;
    object-fit: contain;
}

.header__navbar__theme a img {
    padding-top: 4px;
    height: 69%;
    object-fit: contain;
}

.header__navbar__sign_in a img{
    padding-top: 4px;
    height: 70%;
    object-fit: contain;
}






