<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Личный кабинет</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/account.css') }}">
</head>
<body>
    <div class="account">
        <div class="user-info">
            <img src="https://stekloinstrument.ru/image/avatarka.png" alt="аватарка"/>
            <h4>Имя пользователя</h4>
        </div>
        <span>Корзина</span>
        <span>Избранное</span>
    </div>
    <div class="premium-sub">
        <h1>
            Премиум подписка:
        </h1>
        <h3>
            Статус: активно
        </h3>
    </div>
</body>
</html>