<!DOCTYPE html>
<html lang="ru">
    <head>
        <!-- Базовый макет -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CMPMARKET</title>
        <!-- поджключение normalize файла, иконок, css, библиотеки JS jquery -->
        <link 
            rel="stylesheet"
            type="text/css"
            href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">

        <link rel="icon" href="{{ url_for('static', filename='img/ico/favicon_v1.png') }}" type="image/png">

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/global.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/buttons.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fonts.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/header.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/aside.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/footer.css') }}">
        
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        
    </head>
    <body>
        <div class="site">
            <!-- Шапка сайта -->
            <header class="header">
                <div class="header__container">
                    <div class="header__top">
                        <div class="header__logo">
                            <img src="/static/img/logo/logo.png" alt="Логотип">
                        </div>
                        <div class="header__search__container">
                            <form class="header__search__container__input">
                                <input class="header__search" type="search" name="query" placeholder="Найти на CMPMARKET">
                                <button type="submit">Найти</button>
                            </form>
                            <nav class="header__search__marketplaces">
                                <a href="#ozon-title">Ozon</a>
                                <a href="#wildberries-title">Wildberries</a>
                                <a href="#yandex-market-title">Яндекс Маркет</a>
                                <!--<a href="#aliexpress-title">AliExpress</a>-->
                                <a href="#avito-title">Avito</a>
                            </nav>
                        </div>
                        <div class="header__navbar">
                            <div class="header__navbar__info">
                                <a href="#"><img src="static/img/nav/info.png" alt="Информация"></a>
                                <p>Инфо</p>
                            </div>
                            <div class="header__navbar__theme">
                                <a href="#"><img src="static/img/nav/night-mode_white.png" alt="Тема"></a>
                                <p>Тема</p>
                            </div>
                            <div class="header__navbar__sign_in">
                                <a href="/sign_in"><img src="static/img/nav/user__sign_in.png" alt="Войти"></a>
                                <p>Войти</p>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- main сайта -->
            <main class="main">
                <div class="main-page">
                    <!-- Реклама -->
                    <div class="main-page__banner">
                        <a><img src="https://static-basket-01.wbbasket.ru/vol1/crm-bnrs/bners1/2880_cifr_bum.webp" /></a>
                    </div>
                    <!-- Озон -->
                    <div id="ozon-title" class="main-page__ozon">
                        <div class="main-page__ozon__title">
                            <img src="/static/img/logo/ozon logo.png" alt="ozon">
                        </div>
                        <div id="product-cards-container-ozon" class="main-page__ozon__cards"></div>         <!-- Контейнер для карточек товара -->
                    </div>
                    <!-- WildBerries -->
                    <div id="wildberries-title" class="main-page__WildBerries">
                        <div class="main-page__WildBerries__title">
                            <img src="https://trebon.ru/wp-content/uploads/2023/06/7587_wildberrieslogo_388012-e1687698484868.png" 
                                 alt="WildBerries">
                        </div>
                        <div id="product-cards-container-WildBerries" class="main-page__WildBerries__cards"></div>         <!-- Контейнер для карточек товара -->
                    </div>
                    <!-- Яндекс Маркет -->
                    <div id="yandex-market-title" class="main-page__yandex-market">
                        <div class="main-page__yandex-market__title">
                            <img src="/static/img/logo/ЯндексМаркет logo.png" 
                                 alt="Яндекс Маркет">
                        </div>
                        <div id="product-cards-container-yandex-market" class="main-page__yandex-market__cards"></div>         <!-- Контейнер для карточек товара -->
                    </div>
                    <!-- Avito -->
                    <div id="avito-title" class="main-page__avito">
                        <div class="main-page__avito__title">
                            <img src="/static/img/logo/avito logo.png" 
                                 alt="Avito">
                        </div>
                        <div id="product-cards-container-avito" class="main-page__avito__cards"></div>         <!-- Контейнер для карточек товара -->
                    </div>
                    <!-- AliExpress -->
                     <!--
                    <div id="aliexpress-title" class="main-page__AliExpress">
                        <div class="main-page__AliExpress__title">
                            <img src="/static/img/logo/aliExpress logo.png" 
                                 alt="AliExpress">
                        </div>
                        <div id="product-cards-container-AliExpress" class="main-page__AliExpress__cards"></div>
                    </div>
                    -->
                </div>
            </main>

            <footer class="footer">
                <div class="footer__site-info">
                    <section class="footer__site-info__about-company">
                        <h2>О компании</h2>
                        <h3>Краткое описание компании</h3>
                    </section>
                    <section class="footer__site-info__nav">
                        <h2>Навигация</h2>
                        <h3>Главная</h3>
                        <h3>О нас</h3>
                        <h3>Услуги</h3>
                    </section>
                    <section class="footer__site-info__contacts">
                        <h2>Контакты</h2>
                        <h3>Email: cmpmarket2@gmail.com</h3>
                        <h3>Email для рекламных предложений: <br> cmpmarket2@gmail.com</h3>
                    </section>
                    <section class="footer__site-info__contacts">
                        <h2>Социальные сети</h2>
                        <div class="footer__site-info__contacts__social">
                            <a href="#"><img src="/static/img/footer ico/telegram.png"><h3>Telegram</h3></a>
                            <a href="#"><img src="/static/img/footer ico/discord.png"><h3>Discord</h3></a>
                            <a href="#"><img src="/static/img/footer ico/vk.png"><h3>VK</h3></a>
                        </div>
                    </section>
                </div>
                <div class="footer__legal-information">
                    <hr class="horizontal-line">
                    <h2>© 2025 CMPMARKET. Все права защищены.</h2>
                </div>
            </footer>

        </div>
    </body>
    <script src="{{ url_for('static', filename='scripts/scripts.js') }}"></script>
</html>