<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация CMPMARKET</title>
</head>
<body>
    <form action='/sign_in' method="post" class="form-control" enctype="multipart/form-data">
        <h1>
            Войдите в аккаунт
        </h1>
        <input type="email" name='mail' placeholder="Введите почту" class="form-control">
        <input type="password" name='password' placeholder="Введите пароль" class="form-control">
        <button class="btn btn-success">Войти</button>
    </form>
    <p><a href="/registration">Создать аккаунт</a></p>
    <p><a href="/index">Вернуться на главную</a></p>
</body>
</html>