* {
    box-sizing: border-box;
    outline: none;
}

body {
    height: 100vh;
}

.site {
    height: 100%;
    display: grid;
    /*
    ASIDE
    grid-template-columns: 10% 1fr;
    */
    grid-template-rows: 10% 80% 10%;
}
